<!DOCTYPE html>
<html>
<head>
    <title>Lista de Imóveis</title>
    <style>
        /* Define o estilo dos elementos da lista */
        .imovel-item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 10px;
        }

        .imovel-image {
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-right: 10px;
        }

        .imovel-description {
            width: calc(100% - 210px);
        }
    </style>
</head>
<body>
    <h1>Lista de Imóveis</h1>
    <form method="get" action="{% url 'imovel-search' %}">
        <input type="text" name="codigo_imovel" placeholder="Pesquisar imóvel por código">
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
    <div class="imovel-actions">
        <a href="{% url 'imovel_create' %}" class="btn btn-primary btn-block">Adicionar um novo</a>
    </div>

    <!-- Exibe a lista de imóveis -->
    <div class="imovel-list">
        {% if imoveis %}
        {% for imovel in imoveis %}
        <div class="imovel-item">
            <div class="imovel-description">
                <h2>{{ imovel.codigo_imovel }}</h2>
                <p>Limite de hóspedes: {{ imovel.limite_hospedes }}</p>
                <p>Quantidade de banheiros: {{ imovel.quantidade_banheiros }}</p>
                <p>Aceita animais de estimação: {% if imovel.aceita_animais %}Sim{% else %}Não{% endif %}</p>
                <p>Valor de limpeza: {{ imovel.valor_limpeza }}</p>
                <p>Data de ativação: {{ imovel.data_ativacao }}</p>
            </div>
        </div>
        <div class="imovel-actions">
            <a href="{% url 'imovel_update' imovel.id %}" class="btn btn-primary btn-block">Editar</a>
        </div>
        {% endfor %}
        {% else %}
            <div>SEM IMÓVEIS</div>
        {% endif %}    
    </div>
</body>
</html>
